# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.alice_jokes.iml
# Datasource local storage ignored files
/../../../../../../../:\c#\проект\alice_jokes\.idea\.idea.alice_jokes.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
