# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AliceMafia.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\c#\проект\alice_jokes\.idea\.idea.AliceMafia.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
